<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final List of Selected Students</title>
</head>


<style>
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    

</style>

<body>
    <div class="main">
        <h3>Final List of Qualified Students</h3>
        <table>
            {% for i in students %}
            <tr>
                <td>
                    Name Of the Student
                </td>
                <td>
                    {{i[3]}}
                </td>
                <td>
                    College 
                </td>
                <td>
                    {{i[0]}}
                </td>
                <td>
                    Branch
                </td>
                <td>
                    {{i[1]}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>