<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Admission Management System</title>
</head>

<style>

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    padding: 1.5rem;
    margin-right: 2rem;
    border-radius: 5%;
    border: none;
    background-color: black;
}

a {
    color: white !important;
    text-decoration: none;
}

</style>

<body>
    <div class="main">
        <button>
            <a href="http://localhost:5000/admin/login">
            Admin
            </a>
        </button>
        <button>
            <a href="http://localhost:5000/user/login">
            User
            </a>
        </button>
    </div>
</body>
</html>