<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Admission Management System</title>
</head>
<body>
    <div class="main">
        <button>
            <a href="http://localhost:5000/admin/login">
            Admin
            </a>
        </button>
        <button>
            <a href="http://localhost:5000/user/login">
            User
            </a>
        </button>
    </div>
</body>
</html>