<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Selection</title>
</head>
<body>
    <div class="heading">
        <form action="http://localhost:5000/user/selection/details" method="get">
            <h3>Check Your Result!</h3>
            <table>
                <tr>
                    <td>Enter Your Name : </td>
                    <td>
                    <input type="text" name="sname" id="">
                    </td>  
                </tr>
            </table>
            <input type="submit" class="" name="" id="">
        </form>
</body>
</html>