<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <div>
        <form action="http://localhost:5000/user/login/check" method = "post">
            <table>
                <tr>
                    <td>
                        Username : 
                    </td>
                    <td>
                        <input type="text" name = "username">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password : 
                    </td>
                    <td>
                        <input type="password" name = "password">
                    </td>
                </tr>
            </table>
            <input type="submit" name="" id="">
        </form>
        <h3><a href="http://localhost:5000/user/signup">Sign Up!</a></h3>
    </div>
</body>
</html>